
<h1>.htaccess Generator</h1>

<p>Some copy here</p>

{{#if hasResult}}
  <div class="form-group">
    <h2>Result</h2>

    {{partial 'htaccess'}}
  </div>
{{/if}}

<form method="POST" id="domain" {{action "domain" on="submit"}}>
  <h2>Your domain</h2>

  <p>Put something here about why it is good to pick www or no www.</p>

  <div {{bind-attr class=":form-group errors.domain:has-error"}}>
    {{#if errors}}
      <span class="help-block">{{errors.domain}}</span>
    {{/if}}
    {{view Ember.TextField valueBinding='domain' class='form-control' viewName='domain' name='domain' placeholder='Domain name'}}
  </div>
  <div class="checkbox">
    <label>
      {{input type="checkbox" name="www" checked=www}} Force www
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>



<form method="POST" id="expires" style="display:none" {{action "expires" on="submit"}}>
  <h2>Add expires headers</h2>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>



{{!-- <form method="POST" {{action "htpasswd" on="submit"}}>
  <h2>Password protect</h2>
  <div class="form-group">
    {{view Ember.TextArea valueBinding='test' class='form-control' viewName='email' name='email' placeholder=""}}
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form> --}}



