
<h1>.htaccess Generator</h1>

<p>Some copy here</p>

<div class="row">
  <div class="col-md-6">
    <form method="POST" id="domain">
    {{#view 'info'}}
      <h2>Your domain <button type="button" class="btn btn-xs btn-info">{{view.showHide}}</button></h2>
      <div class="tip" style="display:none">
        <p>It is a good idea to force the www subdomain or remove it for a couple of reasons.</p>
        <ol>
          <li>Avoid search engines indexing <a href="https://support.google.com/webmasters/answer/66359?hl=en">Duplicate Content</a>
          </li>
        </ol>
      </div>
    {{/view}}
      <div {{bind-attr class=":form-group errors.domain:has-error"}}>
        {{#if errors}}
          <span class="help-block">{{errors.domain}}</span>
        {{/if}}
        {{view Ember.TextField valueBinding="domain" class='form-control' viewName='domain' name='domain' placeholder='Domain name'}}
      </div>
      <div class="checkbox">
        <label>
          {{input type="checkbox" name="www" valueBinding="www" checked=www}} Force www
        </label>
      </div>
    </form>

    <hr>

    <form method="POST" id="expires">
      <h2></h2>
    {{#view 'info'}}
      <h2>Add expires headers <button type="button" class="btn btn-xs btn-info">{{view.showHide}}</button></h2>
      <div class="tip" style="display:none">
        <p>In order to cut down on HTTP Requests, instructions should be given to browsers telling them to cache images, css, javascript, etc. <small><a href="https://developer.yahoo.com/blogs/ydnoneblog/high-performance-sites-rule-3-add-expires-header-7181.html" title="More info">More info</a></small>
        </p>
        <p>To seasoned experts, these expires headers might not seem far enough in the future. However, it is our opinion it does not matter unless you are operating with traffic like a Google, Facebook or Yahoo would receive. Simply put, the vast majority of websites out there have no reason to do expires headers months into the future.</p>
        <p>If you disagree, just change what we generate below!</p>
      </div>
    {{/view}}
      {{#unless expires}}
      <button type="submit" {{action "expires" on="click"}} class="btn btn-primary">Add</button>
      {{/unless}}
      {{#if expires}}
      <button type="cancel" {{action "cancelExpires" on="click"}} class="btn btn-default">Remove</button>
      {{/if}}
    </form>

    <hr>

    <form method="POST" id="remove-index" {{action "remove_index" on="change"}}>
    {{#view 'info'}}
      <h2>Remove index.php from urls</h2>
      <div class="tip">

      </div>
    {{/view}}

      {{view Ember.Select
             prompt="Please choose your platform."
             content=platforms
             optionValuePath="content.id"
             optionLabelPath="content.name"
             selection=selectedPlatform}}

      {{#if selectedPlatform}}
      <button type="cancel" {{action "cancelRemoveIndex" on="click"}} class="btn btn-default">Remove</button>
      {{/if}}
    </form>

    <hr>

  </div>
  <div class="col-md-6">
    <div class="form-group">
      <h2>Result <button type="submit"{{action "reset" on='click'}} class="btn btn-primary">Reset</button></h2>

      {{partial 'htaccess'}}
  </div>

  </div>
</div>

<div class="row">
  <div class="col-md-12"></div>
</div>


